@{
    ViewData["Title"] = "Thêm thiết bị";
}
@using ComputerRepair.Models;

<form action="/Device/Add" method="post">
    <div class="text-center">
        <h1 class="display-4">Thêm thiết bị</h1>
    </div>
    <div class="mb-3">
        <label for="DeviceName" class="form-label">Tên thiết bị</label>
        <input type="text" class="form-control" id="DeviceName" name="DeviceName" required />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="Description" name="Description" required />
    </div>
    <div class="mb-3">
        <label for="Manufacturer" class="form-label">Nhà cung cấp</label>
        <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" required />
    </div>
    <div class="mb-3">
        <label for="Quantity" class="form-label">Số lượng</label>
        <input type="number" class="form-control" id="Quantity" name="Quantity" min="0" step="1" required />
    </div>
    <div class="mb-3">
        <label for="WarrantyPeriod" class="form-label">Số lượng</label>
        <input type="number" class="form-control" id="WarrantyPeriod" name="WarrantyPeriod" min="0" step="1" required />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>