@{
    ViewData["Title"] = "Add Device Page";
}
@using ComputerRepair.Models;

<form action="/Device/Add" method="post">
    <div class="text-center">
        <h1 class="display-4">Add Device Page</h1>
    </div>
    <div class="mb-3">
        <label for="DeviceName" class="form-label">DeviceName</label>
        <input type="text" class="form-control" id="DeviceName" name="DeviceName" required />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" required />
    </div>
    <div class="mb-3">
        <label for="Manufacturer" class="form-label">Manufacturer</label>
        <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" required />
    </div>
    <div class="mb-3">
        <label for="Quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="Quantity" name="Quantity" min="0" step="1" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>