@{
    ViewData["Title"] = "Thêm mới dịch vụ";
}
@using ComputerRepair.Models;

<form action="/Service/Add" method="post">
    <div class="text-center">
        <h1 class="display-4">Thêm mới dịch vụ</h1>
    </div>
    <div class="mb-3">
        <label for="ServiceName" class="form-label">Tên dịch vụ</label>
        <input type="text" class="form-control" id="ServiceName" name="ServiceName" required />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="Description" name="Description" required />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>