@{
    ViewData["Title"] = "Home";
}

<h1>Xin chào!</h1>
@if (User.Identity.IsAuthenticated)
{
    <div>
        @*Thêm các sự kiện tạo ở đây*@
    </div>
}
else
{
    <div>
        <p>Đây là một trang web tư nhân. Vui lòng đăng nhập để truy cập nội dung.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a>
    </div>
}