@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to our private website!</h1>
<p>This is a private website. Please log in to access the content.</p>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <p>Hello, @User.Identity.Name!</p>
    </div>
}
else
{
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
    </div>
}